<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>添加学生</h1>
    <form aciton="/add_students" method="POST">
        {% csrf_token %}
        <P><input type="text" name="username" placeholder="姓名"/></P>
        <p><input type="text" name="age" placeholder="年龄"/></p>
        <p>
            男<input type="radio" name="gender" value="1"/>
            女<input type="radio" name="gender" value="0"/>
        </p>
        <p>
            <select name="cs">
                {% for cs in cs_list %}
                    <option value="{{ cs.id }}">{{ cs.title }}</option>
                {% endfor %}
            </select>
        </p>
        <p><input type="submit" value="提交"</p>
    </form>
</body>
</html>